.Ranking_card__{

}
.card___{
    display: grid;
	background-color: #222222;
	width: 280px;
    margin: 0px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
.top-container_{
	display: flex;
	align-items: center;
}
.profile-image{
	border-radius: 10px;
	border: 2px solid #8757f9;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: #d2d2d2;
	position: relative;
	top: 8px;
}
.mail{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}
.middle-container_{
	background-color: #292929;
	border-radius: 12px;

}
.middle-container_:hover {
	border: 1px solid #8757f9;
}
.hashtag-div{
	background-color: #8757f9;
	padding: 12px;
	border-radius: 10px;
}
.round-div{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hashtag{
    font-weight: 900;

	font-size: 20px !important;
	color: #5957f9 !important;
	font-weight: bold !important;
}


.current-balance{
	font-size: 15px;
	color: #a4a4a4;
	font-weight: bold;
}
.amount{
	color: #8757f9;
	font-size: 16px;
	font-weight: bold;
}
.hashtag-sign{
	font-size: 16px;
	color: #272727;
	font-weight: bold;
}

.recent-border{
	border-left: 2px solid #8757f9;
	display: flex;
	align-items: center;

}
.recent-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: #8757f9;
	margin-left: 2px;
}

.wishlist{
	font-size: 16px;
	font-weight: 700;
	color: #c2c2c2;

}
.wishlist-border:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.fashion-studio{
	font-size: 16px;
	font-weight: 700;
	color: #c7c7c7;
}
.fashion-studio-border:hover {
	border-bottom: 1px solid #dee2e6!important;
}