.Left_mini_calender_container {
  background-color: #222222;
  margin-left: 25px;
  width: 60vw;
  margin-top: 20px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 57vw;
  align-items: center;
}

.Full_calender {
  background-color: rgba(78, 54, 130, 0.71);
  color: #af87ff;
  padding: 5px;
  font-weight: bold;
  font-size: 12.5px;
  border-radius: 3px;
}
.Scrollable_calender {
  
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 57vw;
  background-color: #323232;
  display: flex;
  height: 100px;
  align-items: center;
  overflow-x: scroll;
}
.Scrollable_calender::-webkit-scrollbar {
  display: none;
}
.Current_sessions {
  
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  width: 57vw;
  background-color: rgb(41, 41, 41);
  display: flex;
  height: 290px;
}
@media screen and (max-width: 1200px) {
  .Left_mini_calender_container {
    margin-left: 0px;
    width: 80vw;
  }
  .Scrollable_calender {
    width: 77vw;
  }

  .Current_sessions {
    width: 77vw;
  }
}

@media screen and (max-width: 800px) {
    .Current_sessions {
        width: 77vw;
        height: 100vh; 
      }
      .Left_mini_calender_container {
        height: 130vh;
      }


}