.Note_detail_title{
   text-transform:uppercase;
   font-weight: 600;
   font-size: 20px;
   margin-top: 30px;
   margin-left: 30px;
}
.Note_field{
   
   height: 50vh;
   width: 90vw;
   background-color: #222222;
   border-radius: 10px;
}
.Note_session{
   margin-left: 30px;
   color: blueviolet;
}
.Note_form{
   margin: 20px;
   background-color: transparent;
   display: flex;
   flex-direction: column;
}
.save_note{
   background-color: blueviolet;
   color: aliceblue;
   margin: 20px;
   padding: 20px;
}