.Main_content{
    
    position: relative;
    display: flex;
    flex-direction: column;
}
.FAB{
    
    position:fixed;
    top: 90%;
    left: 90%;
    background-color: rgb(123, 0, 255);
    color: aliceblue;
    padding: 15px;
    border-radius: 70px;
    cursor: pointer;
  }
  .gap{
    display: flex;
    max-width: 4.5vw;
    min-height: 200vh;
    min-width: 100px;
  }
  @media screen and (max-width: 1200px) {
    .gap{
      min-width: 80px;
    }
    .FAB{
      left: 80%;
    }
    }



