.Cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 90vw;
}
.Headings_grid{
    font-weight: bolder;
    color: #8757f9;
    margin-top: 20px;
    margin-bottom: -20px;
    display: grid;
	background-color: #222222;
	border-radius: 13px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0.5rem !important;
    grid-template-columns: auto auto auto auto auto;
	border: 1px solid #ffffff14;
}

.Headings_grid > div:hover{
    cursor: pointer;
	border: 1px solid #fdfdfd45;
}
.Headings_grid > div >span{
    color: rgba(255, 255, 255, 0.527);
}
.Headings_grid > div{
	border: 1px solid #8757f9;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
.Ranking_title{
  font-size: large;
  font-weight: bolder;
  margin-left: 35px;
  margin-top: 35px;
  text-transform: uppercase;
}
@media screen and (max-width: 1500px) {
    .Cards{
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 80vw;
    }
}

@media screen and (max-width: 1200px) {
    .Cards{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 80vw;
    }
}

@media screen and (max-width: 1000px) {
    .Cards{
        display: grid;
        grid-template-columns: auto auto;
        width: 80vw;
    }

    .Headings_grid{
        display: grid;
        width: 80vw;
        grid-auto-flow: column;
        grid-template-rows: auto auto auto auto auto;
    }
}


@media screen and (max-width: 800px) {
    .Cards{
        display: grid;
        grid-template-columns: auto;
        width: 80vw;
    }
}