.My_notes{

}

.My_notes_title{
    font-size: large;
    font-weight: bolder;
    margin-left: 35px;
    margin-top: 35px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.My_notes_grid{
    display: grid;
    grid-template-columns: auto auto auto;
}


@media (max-width: 1200px) {
    .My_notes_grid{
        display: grid;
        grid-template-columns: auto auto ;
    }
}

@media (max-width: 800px) {
    .My_notes_grid{
        display: grid;
        grid-template-columns: auto;
    }
    .My_notes{
        display: flex;
        flex-direction: column;
    }
}