


.solid {
    border-top: 1px solid #bbbbbb15;
    border-radius: 100px;
    width: 90%;
  }

.history_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}
  
.Points_scored{
display: flex;
flex-direction: row;
gap: 3px;
}
@media screen and (max-width: 800px) {
  
}