.Current_sessions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.session {
  background-color: rgb(31, 31, 31);
  margin-right: 20px;
  width: 230px;
  height: 230px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.session:hover {
  background-color: #8249f5b6;
}
.name {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(175, 175, 175, 0.902);
  margin-left: 2vw;
}
.date_ {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(215, 215, 215, 0.904);
  margin-left: 3vw;
  font-size: 50px;
}
.now {
  margin-left: 7vw;
  font-size: 13px;
  color: #a97effb6;
}
.viewmore {
  background-color: #8249f5b6;
  margin-right: 20px;
  width: 230px;
  height: 230px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}
.view_more_text {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  color: rgba(238, 238, 238, 0.904);
}
.viewmore:hover {
  background-color: rgb(31, 31, 31);
}
.text {
  font-size: 1vw;
    margin-top: 20px;
  font-weight: bolder;
  width: 12vw;
  height: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.902);
}

@media screen and (max-width: 800px) {
  .Current_sessions {
    width: 250px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  


  .name {
    margin-left: 20px;
  }
.date_{
  
  margin-left: 15vw;
}
.now{
  margin-left: 40vw;
}



  .viewmore {
    width: 65vw;

  }
  .session {
    width: 65vw;
  }
.text {
  font-size: 3vw
};




}
